<div class="panel panel-default owner">
	<header class="panel-heading owner-header">
		<span class="ownerHeaderText">Owner Information</span>
		<div class="actions pull-right">
			<button type="button" class="editOwners btn btn-default btn-xs">Edit</button>
			<button type="button" class="removeOwner btn btn-default btn-xs hide">Remove</button>
		</div>
	</header>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group associatedAccountsSection">
                <label class="col-md-5 control-label">Accounts</label>
                <div class="col-md-7">
                    <p class="form-control-static"><%= associatedAccountsMarkup %></p>
                </div>
            </div>
            <span class="summarySpan"></span>
        </div>
    </div>
</div>
