<div class="form-group">
    <label class="col-md-5 control-label">Name</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= fullName %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Date of Birth</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= dob %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">SSN</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= hiddenSSN %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Phone</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= phoneDescription %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Email</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= email %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Home Address</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= homeAddressFull %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Mailing Address</label>
    <div class="col-md-7">
        <p class="form-control-static"><%= mailingAddressFull %></p>
    </div>
</div>
<div class="form-group">
    <label class="col-md-5 control-label">Secret Word/Hint</label>
    <div class="col-md-7">
        <p class="form-control-static">XXXX<br><%= secretWordHint %></p>
    </div>
</div>
