<div class="page-info">
	<p class="text-right"><a href="javascript:void(0)" onclick="window.print();" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-print"></i> Print This Page</a></p>
</div>
<div class="page-header">
    <h1>Congratulations! You&rsquo;re ready to start saving with .</h1>
    <p class="lead"><strong><%= fullName %></strong>, you have successfully funded your new Account(s). Now you&rsquo;re ready to enroll in Online Banking and gain 24/7 access to your Accounts and Account information.</p>
</div>

<!-- :BEGIN: New Account Summary -->
<div class="section accounts review">
    <!-- ID Number -->
    <div class="panel panel-default account account0">
    		<div class="panel-heading">Your New Account(s) Summary</div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-md-5 control-label">Customer Identification Number</label>
                <div class="col-md-7">
                    <p class="form-control-static">NOT SET 987654321</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- :END: New Account Summary -->


<!--<div class="section">

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<header class="section-header">
				<h2>Enroll in Online Banking</h2>
			</header>
			<h4>Enjoy the convenience of managing all your Savings Accounts online.</h4>
			<ul>
				<li>Check balances</li>
				<li>Track your recent transactions and deposits</li>
				<li>Choose environmentally friendly paperless statements to get your statements sooner</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="applybullet-group text-left">
				<div class="container">
					<div class="row">
						<div class="col-md-3">

								<div class="applybullet media">
									<img class="media-object" src="assets/img/icon-user.png">
									<div class="media-body">
										<p>Create a Username and Password</p>
									</div>
								</div>

						</div>
						<div class="col-md-3">

								<div class="applybullet media">
									<img class="media-object" src="assets/img/icon-security-question.png">
									<div class="media-body">
										<p>Choose your Security Question</p>
									</div>
								</div>

						</div>
						<div class="col-md-3">

								<div class="applybullet media">
									<img class="media-object" src="assets/img/icon-safekey.png">
									<div class="media-body">
										<p>Create your Banking SafeKeys</p>
									</div>
								</div>

						</div>
						<div class="col-md-3">

								<div class="applybullet media">
									<img class="media-object" src="assets/img/icon-read.png">
									<div class="media-body">
										<p>Read the Online Banking Agreement</p>
									</div>
								</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>-->

<div class="actions actions-page clearfix">
	<div class="pull-right">
		<a href="javascript:void(0)" onclick="window.print();" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-print"></i> Print This Page</a>

	</div>
</div>