<div class="page-info">
	<p class="text-right"><a href="javascript:void(0)" onclick="window.print();" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-print"></i> Print This Page</a></p>
</div>
<!-- :BEGIN: Page Header -->
<div class="page-header">
    <h1>Review Information</h1>
    <p class="lead">Please verify your information below.</p>
</div>
<!-- :END: Page Header -->
<!-- :BEGIN: Account Summary -->
<div class="panel panel-default accounts review">
    <header class="panel-heading">
        Savings Account(s)
        <button type="button" class="editAccounts btn btn-default btn-xs pull-right">Edit</button>
    </header>
    
        <div class="accountList"></div>
    
</div>
<!-- :END: Account Summary -->

<!-- :BEGIN: Primary Owner -->
<div class="section owners review primaryDisplay"></div>
<!-- :END: Primary Owner -->

<!-- :BEGIN: Joint Owners -->
<div class="section owners review last jointOwnerSection">
    <header class="section-header">
        <h2>Joint Owner(s)</h2>
    </header>

    <div class="jointOwnerList"></div>
</div>
<!-- :END: Joint Owners -->

<div class="actions actions-page clearfix">
    <div class="pull-left">
        <button type="button" class="btn btn-primary navigateBack">Back</button>
    </div>
    <div class="pull-right">
        <!--<a href="#" class="btn btn-link">Save for Later</a>-->
        <a href="javascript:void(0)" onclick="window.print();" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-print"></i> Print This Page</a>
        <button type="button" class="btn btn-primary btn-lg navigateToSign">Continue</button>
    </div>
</div>
