<div class="actions actions-signin clearfix">
    <div class="pull-right">
        Existing Customer
        <a class="btn btn-primary initialSignIn">Sign In</a>
    </div>
</div>
<div class="page-header">
    <h1 class="welcomeLabel">Welcome.</h1>
    <h1>Thank you for choosing</h1>
    <p class="lead">Opening an account usually takes less than ten minutes.</p>

</div>
<!-- :END: Page Header -->
<div class="alert alert-danger fade in hide errorsOnPage">
    <p>Review and update highlighted area(s) below.</p>
</div>

<div class="section" id="accountListHolder">
    <header class="section-header">
        <h2>Select the Savings Account(s) you would like to open</h2>
        <!-- <p>You may select up to five accounts to open.</p>-->
    </header>
    <div id="accountList"></div>

    <div class="actions actions-add addAccountDiv">
        <button type="button" class="btn btn-link btn-lg addAccountButton" id="">+ Add Another Savings Account</button>
    </div>
</div>
<div class="actions actions-page clearfix">
	<div class="pull-right">
		<button type="button" class="btn btn-primary btn-lg navigateOwners">Continue</button>
	</div>
</div>
